{% extends 'base.html' %}
{% block title %}
    Login
{% endblock title %}
{% block body %}
    <div class="container bg-light bg-opacity-25 mt-3 text-dark rounded p-3 text-center">
            <img class="mt-3 mb-4" src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            <hr style="color: black;">
            <div class="row">
                <div class="col-5">
                    <img class="col-8 mt-3 mb-4" src="{{ url_for('static', filename='notes.webp') }}" alt="notebook with coffee">
                </div>
                <div class="col-7">
                    <h2>Notes is the best place to jot down quick thoughts or to save longer notes filled with checklists, images, web links, scanned documents, handwritten notes, or sketches. And it's easy to keep all your notes in sync, so you'll always have your notes with you.</h2>
                </div>
              </div>
    </div>
{% endblock body %}