{% extends 'base.html' %}
{% block title %}
Login
{% endblock title %}
{% block nav_home %}active{% endblock %}
{% block body %}
<div class="container bg-light bg-opacity-25 mt-3 rounded p-3 text-center">
    <img class="mt-3 mb-4" src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
    <hr style="color: black;">
    <div class="row">
        <div class="col-5">
            <img class="my-2 col-9 rounded" src="{{ url_for('static', filename='notes.webp') }}"
                alt="notebook with coffee">
        </div>
        <div class="col-7">
            <div class="my-2 container bg-primary navbar-dark bg-dark bg-opacity-75 rounded p-3 text-start">
            <h3>Notes is the best place to jot down quick thoughts or to save longer notes filled with checklists,
                images, web links, scanned documents, handwritten notes, or sketches. And it's easy to keep all your
                notes in sync, so you'll always have your notes with you.</h3>
        </div></div>
    </div>
</div>
{% endblock body %}