<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Notes App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
</head>

<body class="bg-primary text-bg-dark">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('index_page')}}">Notes App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('index_page')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container bg-info bg-opacity-50 rounded p-3">
    <div class="container bg-dark rounded p-3">
      <h2>Add a Note</h2>
      <hr style="width:70%;">
      <form action="/" method="POST">
        <div class="mb-3">
          <input type="text" maxlength="200" style="width: 25%;" class="form-control" name="title"
            placeholder="Enter your title" aria-describedby="emailHelp" required="True">
        </div>
        <div class="mb-3">
          <textarea style="width: 75%;" rows="3" class="form-control" name="desc"
            placeholder="Enter your description  (1500 characters)" maxlength="1500" required="True"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
    <div class="container bg-dark rounded mt-3 p-3">
      <h2>Your saved Note(s)</h2>
      {% if allNotes|length==0 %}
      <div class="alert alert-danger" role="alert">No notes found, Add your first note now!</div>
      {% else %}
      <table class="table text-bg-dark">
        <thead>
          <tr>
            <th scope="col">S No.</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Time</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for note in allNotes %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ note.title }}</td>
            <td>{{ note.desc }}</td>
            <td>{{ note.time }}</td>
            <td>
              <a href="/update/{{note.sno}}" type="button" class="btn btn-success btn-sm mt-1 ms-1">Update</a>
              <a href="/delete/{{note.sno}}" type="button" class="btn btn-danger btn-sm mt-1 ms-1">Delete</a>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>